

    <!-- <%=erb(:'partials/navigation', :layout => false)%> -->

<h1>hello world</h1>
    <!-- <h1>below are different shirts</h1>
    <%= shirts.each do |shirt|%>
      <p>Click for <%=shirt[:title]%></p>
      <a href="/<%=shirt[:id]%>"><%=shirt[:id]%></a> -->
