<h1><%= @shirt[:title] %></h1>
<p><%= @shirt[:body] %></p>
<a href="/<%= @shirt[:id] %>/edit">edit</a>

<form class="" action="/<%= @shirt[:id] %>" method="shirt">
<input href="/<%= @shirt[:id] %>" type="hidden" name="_method" value="delete">
<input type="submit" name="submit" value="Delete shirt">
</form>
